.Menu{
    display: flex;
    flex:1;
    flex-grow:1;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: 20px;
    background-color:#c6ff00;
  }